px.active{
text-decoration: underline;
color: red;
}
.inactive{
    text-decoration: none;

}
.navContainer{
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
font-size: 19px;
font-weight: 500;
padding: 1rem;
}